<template>
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper" style="min-height: 972px;">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        모든 이슈
      </h1>
      <ol class="breadcrumb">
        <li><a href="#/"><i class="fa fa-dashboard"></i> Dashboard</a></li>
        <li class="active"><i class="fa fa-tasks"></i> 모든 이슈</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="box box-info">
        <!-- /.box-header -->
        <issue-list :issues="issues" :type="type"/>

        <div class="box-footer clearfix">
          <ul class="pagination pagination-sm no-margin pull-left" v-if="pageable.totalPages !== 0">
            <li><a role="button" @click="get(0)">«</a></li>
            <li v-for="n in getPages(pageable)" :class="(n === pageable.page) ? 'active' : ''">
              <span v-if="n === pageable.page">{{n + 1}}</span>
              <span role="button" @click="get(n)" v-if="n !== pageable.page">{{n + 1}}</span>
            </li>
            <li><span role="button" @click="get(pageable.totalPages - 1)">»</span></li>
          </ul>

          <router-link :to="{path: '/issueForm', query: {type: 'all'}}" class="btn btn-sm btn-info btn-flat pull-right">
            이슈 생성
          </router-link>
        </div>
        <!-- /.box-body -->
      </div>
    </section>
    <!-- /.content -->
  </div>
</template>

<script>
  import IssueList from '@/components/IssueList.vue'

  export default {
    components: {
      IssueList
    },
    methods: {
      get(page = 0) {
        this.$http.get('/api/issues?page=' + page).then((res) => {
          this.issues = res.body.content
          this.pageable.page = res.body.number
          this.pageable.first = res.body.first
          this.pageable.last = res.body.last
          this.pageable.totalPages = res.body.totalPages
        })
      },
      getPages(pageable) {
        let start = Math.max(pageable.page - 2, 0)
        let end = Math.min(start + 5, pageable.totalPages)

        if (end - start < 5 && end > 5) {
          start = end - 5
        }

        let list = [];
        for (let i = start; i < end; i++) {
          list.push(i);
        }
        return list
      }
    },
    data() {
      return {
        issues: [],
        pageable: {
          page: 0,
          first: true,
          last: false,
          totalPages: 0
        },
        type: 'all'
      }
    },
    created() {
      this.get()
    }
  }
</script>
