<template>
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper" style="min-height: 972px;">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        이슈 {{btnMessage}}
      </h1>
      <ol class="breadcrumb" v-if="type === 'all'">
        <li><a href="#/"><i class="fa fa-dashboard"></i> Dashboard</a></li>
        <li><a href="#/issues"><i class="fa fa-tasks"></i> 모든 이슈</a></li>
        <li class="active">이슈 생성</li>
      </ol>
      <ol class="breadcrumb" v-if="type === 'my'">
        <li><a href="#/"><i class="fa fa-dashboard"></i> Dashboard</a></li>
        <li><a href="#/issues"><i class="fa fa-tasks"></i> 모든 이슈</a></li>
        <li><a href="#/myOpenIssues"><i class="fa fa-circle-o text-blue"></i> 나의 열린 이슈</a></li>
        <li class="active">이슈 생성</li>
      </ol>
      <ol class="breadcrumb" v-if="type === 'prj'">
        <li><a href="#/"><i class="fa fa-dashboard"></i> Dashboard</a></li>
        <li><a href="#/issues"><i class="fa fa-tasks"></i> 모든 이슈</a></li>
        <li><a href="#/myProjectIssues"><i class="fa fa-circle-o text-red"></i> 나의 프로젝트 이슈</a></li>
        <li class="active">이슈 생성</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="box box-primary">
        <!-- form start -->
        <form role="form">
          <div class="box-body">
            <div class="form-group" :class="validation.hasErrorClass('projectId')">
              <label>프로젝트</label>
              <select class="form-control" v-model="form.projectId">
                <option v-for="project in projects" :value="project.id">{{project.displayName || project.name}}</option>
              </select>
              <span class="help-block" v-show="validation.hasError('projectId')"
                    v-for="msg in validation.errorMessages('projectId')">{{msg}}</span>
            </div>

            <div class="form-group" :class="validation.hasErrorClass('title')">
              <label for="title">제목</label>
              <input type="text" class="form-control" id="title" placeholder="제목" v-model.trim="form.title">
              <span class="help-block" v-show="validation.hasError('title')"
                    v-for="msg in validation.errorMessages('title')">{{msg}}</span>
            </div>

            <div class="form-group">
              <label>담당자</label>
              <select class="form-control" v-model="form.assigneeId">
                <option value="">없음</option>
                <option v-for="user in projectUsers" :value="user.id">{{user.name}}</option>
              </select>
            </div>

            <div class="form-group">
              <label for="title">상태</label>
              <div class="form-controll">
                <div class="btn-group">
                  <button type="button" class="btn" :class="getStatusClass('TODO', 'btn-primary')"
                          @click="setStatus('TODO')">TODO
                  </button>
                  <button type="button" class="btn" :class="getStatusClass('PROGRESS', 'btn-success')"
                          @click="setStatus('PROGRESS')">PROGRESS
                  </button>
                  <button type="button" class="btn" :class="getStatusClass('REVIEW', 'btn-info')"
                          @click="setStatus('REVIEW')">REVIEW
                  </button>
                  <button type="button" class="btn" :class="getStatusClass('CLOSE', 'btn-danger')"
                          @click="setStatus('CLOSE')">CLOSE
                  </button>
                  <button type="button" class="btn" :class="getStatusClass('REOPEN', 'btn-warning')"
                          @click="setStatus('REOPEN')">REOPEN
                  </button>
                </div>
              </div>
            </div>

            <form>
                <textarea id="editor" class="textarea" placeholder="내용을 입력해 주세요."
                          style="width: 100%; height: 200px; font-size: 14px; line-height: 18px; border: 1px solid #dddddd; padding: 10px;">
                </textarea>
            </form>
          </div>
          <!-- /.box-body -->

          <div class="box-footer">
            <button class="btn btn-default pull-left" @click="goList">목록</button>
            <p class="pull-right">
              <button class="btn btn-primary" @click="save">{{btnMessage}}</button>
              <button class="btn btn-danger" @click="remove" v-show="id">삭제</button>
            </p>
          </div>
        </form>
      </div>
    </section>
  </div>
</template>

<script>
  import Validation from '../model/validation.js';

  export default {
    watch: {
      'form.projectId': function (projectId) {
        this.getProjectUsers(projectId)
      }
    },
    methods: {
      init(id) {
        if (id) {
          this.$data.method = 'post'
          this.$data.btnMessage = '수정'
          this.$data.id = this.$route.params.id

          this.$http.get('/api/issue/' + this.$data.id).then((res) => {
            this.$data.form = res.body
            $('#editor').html(this.$data.form.content)
            $('#editor').wysihtml5({
              toolbar: {
                "link": false,
                "image": false
              }
            })
            this.getProjectUsers(this.$data.form.projectId)
          }).catch((err) => {
            if (err.status === 404) {
              this.goList();
            }
          })
        } else {
          $('#editor').wysihtml5({
            toolbar: {
              "link": false,
              "image": false
            }
          })
        }
      },
      goList() {
        if (this.$data.type === 'all') {
          return this.$router.push('/issues')
        } else if (this.$data.type === 'my') {
          return this.$router.push('/myOpenIssues')
        } else if (this.$data.type === 'rp') {
          return this.$router.push('/myReportedIssues')
        } else if (this.$data.type === 'as') {
          return this.$router.push('/myAssignedIssues')
        } else {
          return this.$router.push('/myProjectIssues')
        }
      },
      getProjects() {
        this.$http.get('/api/userProjects').then((res) => {
          this.$data.projects = res.body
          this.init(this.$route.params.id)
        })
      },
      getProjectUsers(projectId) {
        this.$http.get('/api/projectUsers/' + projectId).then((res) => {
          this.$data.projectUsers = res.body
        })
      },
      getStatusClass(status, className) {
        return this.$data.form.status === status ? className : ''
      },
      setStatus(status) {
        this.$data.form.status = status
      },
      save() {
        this.$data.form.content = $('#editor').val()
        this.$http[this.$data.method]((this.$data.id) ? '/api/issue/' + this.$data.id : '/api/issue', this.$data.form).then((res) => {
          this.goList()
        }).catch((err) => {
          if (err.status === 400) {
            err.body.forEach((e) => {
              this.$data.validation.addError(e.field, e.defaultMessage)
            })
          }
        })
      },
      remove() {
        if (confirm('이슈를 삭제하시겠습니까?')) {
          this.$http.delete('/api/issue/' + this.$data.id).then((res) => {
            this.goList()
          })
        }
      }
    },
    data() {
      return {
        method: 'put',
        btnMessage: '생성',
        id: null,
        projects: [],
        projectUsers: [],
        form: {
          projectId: null,
          assigneeId: '',
          title: '',
          status: 'TODO',
          content: ''
        },
        validation: new Validation(),
        type: this.$route.query.type
      }
    },
    created() {
      this.getProjects()
    }
  }
</script>
