<template>
  <div class="box-body">
    <div class="table-responsive">
      <table class="table table-hover">
        <thead>
        <tr>
          <th>프로젝트</th>
          <th>제목</th>
          <th>상태</th>
          <th>등록자/작업자</th>
          <th>생성일/변경일</th>
        </tr>
        </thead>
        <tbody>
        <tr v-for="issue in issues" role="button" @click="go(issue)">
          <td>{{issue.projectDisplayName || issue.projectName}}</td>
          <td>{{issue.title}}</td>
          <td>
            <label class="label" :class="getStatusClass(issue, 'TODO', 'label-primary')">{{issue.status}}</label>
            <label class="label" :class="getStatusClass(issue, 'PROGRESS', 'label-success')">{{issue.status}}</label>
            <label class="label" :class="getStatusClass(issue, 'REVIEW', 'label-info')">{{issue.status}}</label>
            <label class="label" :class="getStatusClass(issue, 'CLOSE', 'label-danger')">{{issue.status}}</label>
            <label class="label" :class="getStatusClass(issue, 'REOPEN', 'label-warning')">{{issue.status}}</label>
          </td>
          <td>{{issue.reporterName}}/{{issue.assigneeName}}</td>
          <td>{{issue.createdDate | formatDate}}/{{issue.lastModifiedDate | formatDate}}</td>
        </tr>
        </tbody>
      </table>
    </div>
    <!-- /.table-responsive -->
  </div>
</template>

<script>
  export default {
    props: {
      issues: {
        type: Array,
        default: () => []
      },
      type: {
        type: String,
        default: () => 'all'
      }
    },
    methods: {
      go (issue) {
        return this.$router.push({path: '/issueForm/' + issue.id, query: {type: this.type}})
      },
      getStatusClass (issue, status, className) {
        return issue.status === status ? className : 'hidden'
      }
    },
    data () {
      return {
      }
    }
  }
</script>
