<template>
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper" style="min-height: 972px;">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Dashboard
      </h1>
      <ol class="breadcrumb">
        <li><i class="fa fa-dashboard"></i> Dashboard</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-md-4 col-sm-6 col-xs-12">
          <div class="info-box">
            <span class="info-box-icon bg-green"><i class="fa fa-suitcase"></i></span>

            <div class="info-box-content">
              <span class="info-box-text">나의 프로젝트</span>
              <span class="info-box-number">{{statistic.projectCount}}<small>개</small></span>
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div>
        <!-- /.col -->

        <!-- fix for small devices only -->
        <div class="clearfix visible-sm-block"></div>

        <div class="col-md-4 col-sm-6 col-xs-12">
          <div class="info-box">
            <span class="info-box-icon bg-aqua"><i class="fa fa-tasks"></i></span>

            <div class="info-box-content">
              <span class="info-box-text">나의 모든 이슈</span>
              <span class="info-box-number">{{statistic.allIssueCount}}<small>개</small></span>
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div>
        <!-- /.col -->

        <!-- fix for small devices only -->
        <div class="clearfix visible-sm-block"></div>

        <div class="col-md-4 col-sm-6 col-xs-12">
          <div class="info-box">
            <span class="info-box-icon bg-red"><i class="fa fa-tasks"></i></span>

            <div class="info-box-content">
              <span class="info-box-text">나의 열린 이슈</span>
              <span class="info-box-number">{{statistic.openIssueCount}}<small>개</small></span>
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div>
        <!-- /.col -->
      </div>

      <ul class="timeline">
        <!-- timeline time label -->
        <template v-for="(histories, key) in timeline">
          <li class="time-label">
            <span class="bg-red">{{key}}</span>
          </li>
          <!-- /.timeline-label -->
          <!-- timeline item -->
          <li v-for="(history) in histories">
            <i :class="getClass(history)"></i>

            <div class="timeline-item">
              <span class="time"><i class="fa fa-clock-o"></i> {{history.createdDate | formatDate}}</span>
              <h3 class="timeline-header no-border" v-html="getMessage(history)"></h3>
            </div>
          </li>
        </template>
        <!-- END timeline item -->
        <li>
          <i class="fa fa-clock-o bg-gray"></i>
        </li>
      </ul>
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
</template>

<script>
  export default {
    methods: {
      getStatistic() {
        this.$http.get('/api/statistic').then((res) => {
          this.$data.statistic = res.body
        })
      },
      getTimeline() {
        this.$http.get('/api/history').then((res) => {
          this.$data.timeline = res.body
          console.log(res.body, this.$data.timeline)
        })
      },
      getClass(history) {
        if (history.status === 'PROJECT_CREATE') {
          return 'fa fa-suitcase bg-blue'
        } else if (history.status === 'PROJECT_UPDATE') {
          return 'fa fa-suitcase bg-yellow'
        } else if (history.status === 'PROJECT_DELETE') {
          return 'fa fa-suitcase bg-red'
        } else if (history.status === 'ISSUE_CREATE') {
          return 'fa fa-tasks bg-blue'
        } else if (history.status === 'ISSUE_UPDATE') {
          return 'fa fa-tasks bg-yellow'
        } else if (history.status === 'ISSUE_DELETE') {
          return 'fa fa-tasks bg-red'
        }
      },
      getMessage(history) {
        if (history.status === 'PROJECT_CREATE') {
          return '프로젝트 <a href="#/projectForm/' + history.projectId + '?type=all">@' + history.projectName + '</a> 을 생성하였습니다.'
        } else if (history.status === 'PROJECT_UPDATE') {
          return '프로젝트 <a href="#/projectForm/' + history.projectId + '?type=all">@' + history.projectName + '</a> 을 변경하였습니다.'
        } else if (history.status === 'PROJECT_DELETE') {
          return '프로젝트 @' + history.projectName + ' 을 삭제하였습니다.'
        } else if (history.status === 'ISSUE_CREATE') {
          return '이슈 <a href="#/issueForm/' + history.issueId + '?type=all">#' + history.issueId + '</a> 을 생성하였습니다.'
        } else if (history.status === 'ISSUE_UPDATE') {
          return '이슈 <a href="#/issueForm/' + history.issueId + '?type=all">#' + history.issueId + '</a> 을 변경하였습니다.'
        } else if (history.status === 'ISSUE_DELETE') {
          return '이슈 #' + history.issueId + ' 을 삭제하였습니다.'
        }
      }
    },
    data() {
      return {
        manyOpenIssueProjects: [],
        recentIssues: [],
        statistic: {
          projectCount: 0,
          allIssueCount: 0,
          openIssueCount: 0
        },
        timeline: {}
      }
    },
    created() {
      this.getStatistic()
      this.getTimeline()
    }
  }
</script>
