<template>
  <aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
      <!-- search form -->
      <div class="sidebar-form">
        <div class="input-group">
          <input type="text" name="q" class="form-control" placeholder="Search..." v-model.trim="keyword" v-on:keyup.enter="search()">
          <span class="input-group-btn">
                <button type="submit" name="search" id="search-btn" class="btn btn-flat" @click="search()">
                  <i class="fa fa-search"></i>
                </button>
              </span>
        </div>
      </div>
      <!-- /.search form -->
      <!-- sidebar menu: : style can be found in sidebar.less -->
      <ul class="sidebar-menu" data-widget="tree">
        <li><a href="#/"><i class="fa fa-dashboard"></i> <span>Dashboard</span></a></li>
        <li><a href="#/projects"><i class="fa fa-suitcase"></i> <span>모든 프로젝트</span></a></li>
        <li class="treeview">
          <ul class="treeview-menu" style="display: block;">
            <li><a href="#/myProjects"><i class="fa fa-circle-o text-blue"></i> 나의 프로젝트</a></li>
          </ul>
        </li>
        <li><a href="#/issues"><i class="fa fa-tasks"> </i><span>모든 이슈</span></a></li>
        <li class="treeview">
          <ul class="treeview-menu" style="display: block;">
            <li><a href="#/myOpenIssues"><i class="fa fa-circle-o text-blue"></i> 나의 열린 이슈</a></li>
            <li><a href="#/myProjectIssues"><i class="fa fa-circle-o text-red"></i> 나의 프로젝트 이슈</a></li>
            <li><a href="#/myReportedIssues"><i class="fa fa-circle-o text-yellow"></i> 내가 등록한 이슈</a></li>
            <li><a href="#/myAssignedIssues"><i class="fa fa-circle-o text-green"></i> 내가 작업할 이슈</a></li>
          </ul>
        </li>
      </ul>
    </section>
    <!-- /.sidebar -->
  </aside>
</template>

<script>
  export default {
    methods: {
      search() {
        return this.$router.push({path: '/search', query: {keyword: this.keyword}})
      }
    },
    data() {
      return {
        keyword: ''
      }
    }
  }
</script>
