<template>
  <footer class="main-footer">
    <div class="pull-right hidden-xs">
      <b>Version</b> 0.0.1-SNAPSHOT
    </div>
    <strong>Copyright &copy; <a href="mailto:kiravspace@gmail.com">kiravspace</a>.</strong> All rights
    reserved.
  </footer>
</template>
