<template>
  <header class="main-header">

    <!-- Logo -->
    <a href="index2.html" class="logo">
      <!-- logo for regular state and mobile devices -->
      <span class="logo-lg"><b>Issue</b>Tracker</span>
    </a>

    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top">
      <!-- Navbar Right Menu -->
      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
          <!-- Messages: style can be found in dropdown.less-->
          <li class="dropdown messages-menu"></li>
          <!-- Notifications: style can be found in dropdown.less -->
          <li class="dropdown notifications-menu"></li>
          <!-- Tasks: style can be found in dropdown.less -->
          <li class="dropdown tasks-menu"></li>
          <!-- User Account: style can be found in dropdown.less -->
          <li class="dropdown user user-menu"></li>
          <!-- Control Sidebar Toggle Button -->

          <li class="dropdown user user-menu">
            <a href="#/user" class="dropdown-toggle" data-toggle="dropdown">
              <span class="hidden-xs">{{user.name}}</span>
            </a>
            <ul class="dropdown-menu">
              <!-- Menu Footer-->
              <li class="user-footer">
                <div class="pull-right">
                  <a href="#" class="btn btn-default btn-flat" @click="logout()">Sign out</a>
                </div>
              </li>
            </ul>
          </li>
        </ul>
      </div>

    </nav>
  </header>
</template>

<script>
  export default {
    methods: {
      getUser() {
        this.$http.get('/api/user').then((res) => {
          this.user = res.body
        }).catch((err) => {
          window.location.href = '/login.html'
        })
      },
      logout() {
        this.$http.post('/logout').then((res) => {
          window.location.href = '/login.html'
        })
      }
    },
    data() {
      return {
        user: {
          name: ''
        }
      }
    },
    created() {
      this.getUser()
    }
  }
</script>
