<template>
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper" style="min-height: 972px;">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        프로젝트 {{btnMessage}}
      </h1>
      <ol class="breadcrumb" v-if="type === 'all'">
        <li><a href="#/"><i class="fa fa-dashboard"></i> Dashboard</a></li>
        <li><a href="#/projects"><i class="fa fa-suitcase"></i> 모든 프로젝트</a></li>
        <li class="active">프로젝트 생성</li>
      </ol>
      <ol class="breadcrumb" v-if="type === 'my'">
        <li><a href="#/"><i class="fa fa-dashboard"></i> Dashboard</a></li>
        <li><a href="#/projects"><i class="fa fa-suitcase"></i> 모든 프로젝트</a></li>
        <li><a href="#/myProjects"><i class="fa fa-circle-o text-blue"></i> 나의 프로젝트</a></li>
        <li class="active">프로젝트 생성</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="box box-primary">
        <!-- form start -->
        <form role="form">
          <div class="box-body">
            <div class="form-group" :class="validation.hasErrorClass('name')">
              <label for="name">이름</label>
              <input type="text" class="form-control" id="name" placeholder="영 대소문자, 숫자만 가능합니다."
                     v-model.trim="form.name"
                     @keyup="validName" :disabled="id">
              <span class="help-block" v-show="validation.hasError('name')"
                    v-for="msg in validation.errorMessages('name')">{{msg}}</span>
            </div>
            <div class="form-group">
              <label for="displayName">보여질 이름</label>
              <input type="text" class="form-control" id="displayName" placeholder="보여질 이름입니다."
                     v-model.trim="form.displayName">
            </div>
            <div class="form-group">
              <label>공개여부</label>
              <select class="form-control" v-model="form.status">
                <option value="PUBLIC">공개</option>
                <option value="PRIVATE">비공개</option>
              </select>
            </div>
          </div>
          <!-- /.box-body -->

          <div class="box-footer">
            <button class="btn btn-default pull-left" @click="goList">목록</button>
            <p class="pull-right">
              <button class="btn btn-primary" @click="save">{{btnMessage}}</button>
              <button class="btn btn-danger" @click="remove" v-show="id">삭제</button>
            </p>
          </div>
        </form>
      </div>
    </section>
  </div>
</template>

<script>
  import Validation from '../model/validation.js';

  export default {
    methods: {
      validName(e) {
        e.target.value = e.target.value.replace(/[^0-9a-zA-Z]/g, '')
      },
      init(id) {
        if (id) {
          this.$data.method = 'post'
          this.$data.btnMessage = '수정'
          this.$data.id = this.$route.params.id

          this.$http.get('/api/project/' + this.$data.id).then((res) => {
            this.$data.form = res.body
          }).catch((err) => {
            if (err.status === 404) {
              this.goList()
            }
          })
        }
      },
      goList() {
        if (this.$data.type === 'all') {
          return this.$router.push('/projects')
        } else {
          return this.$router.push('/myProjects')
        }
      },
      save() {
        this.$http[this.$data.method]((this.$data.id) ? '/api/project/' + this.$data.id : '/api/project', this.$data.form).then((res) => {
          console.log('aaaaa', this.$data.type)
          this.goList()
        }).catch((err) => {
          if (err.status === 400) {
            err.body.forEach((e) => {
              this.$data.validation.addError(e.field, e.defaultMessage)
            })
          } else if (err.status === 409) {
            this.$data.validation.addError('name', '이미 중복된 이름의 프로젝트가 존재합니다. 이름을 변경해주세요.')
          }
        })
      },
      remove() {
        if (confirm('프로젝트를 삭제할 경우, 프로젝트 내의 이슈도 다 삭제됩니다. 삭제하시겠습니까?')) {
          this.$http.delete('/api/project/' + this.$data.id).then((res) => {
            this.goList()
          })
        }
      }
    },
    data() {
      return {
        method: 'put',
        btnMessage: '생성',
        id: null,
        form: {
          name: '',
          displayName: '',
          status: 'PUBLIC'
        },
        validation: new Validation(),
        type: this.$route.query.type
      }
    },
    created() {
      this.init(this.$route.params.id)
    }
  }
</script>
