<template>
  <div class="box-body">
    <div class="table-responsive">
      <table class="table table-hover">
        <thead>
        <tr>
          <th width="50%">프로젝트</th>
          <th>상태</th>
          <th>열려있는 이슈</th>
          <th>생성자</th>
          <th>생성일/변경일</th>
        </tr>
        </thead>
        <tbody>
        <tr v-for="project in projects" role="button" @click="go(project)">
          <td>{{project.displayName || project.name}}</td>
          <td>
            <span class="label label-success" v-if="project.status === 'PUBLIC'">공개</span>
            <span class="label label-danger" v-if="project.status === 'PRIVATE'">비공개</span>
          </td>
          <td>{{project.openIssueCount}}</td>
          <td>{{project.creatorName}}</td>
          <td>{{project.createdDate | formatDate}} / {{project.lastModifiedDate | formatDate}}</td>
        </tr>
        </tbody>
      </table>
    </div>
    <!-- /.table-responsive -->
  </div>
</template>

<script>
  export default {
    props: {
      projects: {
        type: Array,
        default: () => []
      },
      type: {
        type: String,
        default: () => 'all'
      }
    },
    methods: {
      go (project) {
        return this.$router.push({path: '/projectForm/' + project.id, query: {type: this.type}})
      }
    },
    data () {
      return {
      }
    }
  }
</script>
