<template>
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper" style="min-height: 972px;">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        {{keyword}} 에 대한 검색 결과
      </h1>
    </section>

    <!-- Main content -->
    <section class="content">

      <div class="box box-info">
        <div class="box-header with-border">
          <h3 class="box-title">프로젝트</h3>
        </div>
        <div class="box-body">
          <div class="table-responsive">
            <table class="table table-hover">
              <thead>
              <tr>
                <th width="50%">프로젝트</th>
                <th>상태</th>
                <th>열려있는 이슈</th>
                <th>생성자</th>
                <th>생성일/변경일</th>
              </tr>
              </thead>
              <tbody>
              <tr v-for="project in projects" role="button" @click="goProject(project)">
                <td>{{project.displayName || project.name}}</td>
                <td>
                  <span class="label label-success" v-if="project.status === 'PUBLIC'">공개</span>
                  <span class="label label-danger" v-if="project.status === 'PRIVATE'">비공개</span>
                </td>
                <td>{{project.openIssueCount}}</td>
                <td>{{project.creatorName}}</td>
                <td>{{project.createdDate | formatDate}} / {{project.lastModifiedDate | formatDate}}</td>
              </tr>
              </tbody>
            </table>
          </div>
          <!-- /.table-responsive -->
        </div>
      </div>

      <div class="box box-info">
        <div class="box-header with-border">
          <h3 class="box-title">이슈</h3>
        </div>
        <div class="box-body">
          <div class="table-responsive">
            <table class="table table-hover">
              <thead>
              <tr>
                <th>프로젝트</th>
                <th>제목</th>
                <th>상태</th>
                <th>등록자/작업자</th>
                <th>생성일/변경일</th>
              </tr>
              </thead>
              <tbody>
              <tr v-for="issue in issues" role="button" @click="goIssue(issue)">
                <td>{{issue.projectDisplayName || issue.projectName}}</td>
                <td>{{issue.title}}</td>
                <td>
                  <label class="label" :class="getStatusClass(issue, 'TODO', 'label-primary')">{{issue.status}}</label>
                  <label class="label" :class="getStatusClass(issue, 'PROGRESS', 'label-success')">{{issue.status}}</label>
                  <label class="label" :class="getStatusClass(issue, 'REVIEW', 'label-info')">{{issue.status}}</label>
                  <label class="label" :class="getStatusClass(issue, 'CLOSE', 'label-danger')">{{issue.status}}</label>
                  <label class="label" :class="getStatusClass(issue, 'REOPEN', 'label-warning')">{{issue.status}}</label>
                </td>
                <td>{{issue.reporterName}}/{{issue.assigneeName}}</td>
                <td>{{issue.createdDate | formatDate}}/{{issue.lastModifiedDate | formatDate}}</td>
              </tr>
              </tbody>
            </table>
          </div>
          <!-- /.table-responsive -->
        </div>
      </div>
    </section>
  </div>
</template>

<script>
  export default {
    methods: {
      search () {
        this.$http.get('/api/search?keyword=' + this.keyword).then((res) => {
          this.issues = res.body.issues
          this.projects = res.body.projects
        })
      },
      goProject (project) {
        return this.$router.push({path: '/projectForm/' + project.id, query: {type: 'all'}})
      },
      goIssue (issue) {
        return this.$router.push({path: '/issueForm/' + issue.id, query: {type: 'all'}})
      },
      getStatusClass (issue, status, className) {
        return issue.status === status ? className : 'hidden'
      }
    },
    data() {
      return {
        keyword: this.$route.query.keyword,
        issues: [],
        projects: []
      }
    },
    created() {
      this.search()
    }
  }
</script>
