<template>
  <div class="wrapper">

    <main-header></main-header>
    <!-- Left side column. contains the logo and sidebar -->
    <main-sidebar></main-sidebar>

    <router-view></router-view>

    <main-footer></main-footer>

  </div>
</template>

<script>
  import MainHeader from '@/components/MainHeader.vue'
  import MainSidebar from '@/components/MainSidebar.vue'
  import MainFooter from '@/components/MainFooter.vue'

  export default {
    components: {
      MainHeader,
      MainSidebar,
      MainFooter
    },
    name: 'App',
  };
</script>
